<div class="container mt-5 mb-5">

<h1 class="text-center">About</h1>

<p>
    twice yearly
    How Often Is AC Service Needed? Though there can be a bit of wiggle room, generally speaking,
    you should have your air conditioner serviced 
    twice yearly: once in the fall and once in the spring. This is to ensure that it's clean,
    that its parts are in good shape and that it's operating as optimally as possible.
<br>
During air conditioner service, the technician washes and cleans the air filter. The condenser fins are also washed and 
cleaned for any molds and dirt build-up during air conditioner service.
Dust and soot are enemies of your air conditioning system as they cause overheating of the system.
<br>
Is servicing of AC necessary?
All leading AC brands recommend seasonal cleaning and periodic maintenance to remove impurities. Regul
ar AC servicing can boost AC performance and reduce electricity bills. A non-serviced AC may 
consume more power to deliver cool air or may not provide effective cooling due to reasons such as a gas leakage.
<br>
What happens if AC is not serviced?
Although the mechanical parts of the AC will work, the cooling power will be lost and then 
the system will start to sustain serious damages.
These damages will result in higher costs of repairing or even replacement of some parts.
<br/>

</p>



</div>